@h2-padding: 15px 0;
@logo-bottom-padding: 15px;
@icons-top-padding: 35px;

@import "../bower_components/bootstrap/less/bootstrap.less";

@icon-font-path: "../bower_components/bootstrap/fonts/";

html,
body {
    height: 100%;
    color: #fff;
    background-color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

a, a:hover {
    color: #fff;
}

.site-wrapper {
    display: table;
    width: 100%;

    .site-wrapper-inner {
        display: table-cell;
        vertical-align: middle;

        .cover-container {
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.landing-wrapper {
    .site-wrapper;
    height: 100%;
    min-height: 100%;
}

h1 {
    display: none;
}

h2 {
    color: #fff;
    font-size: 18pt;
    line-height: 24pt;
    padding: @h2-padding;
}

#logo {
    padding: 0 0 @logo-bottom-padding 0;
}

#landing {
    background-image: url("../assets/MilkyWay2560x1440.jpg");
    background-position: center;
    background-size: cover;
}

.contact {
    font-size: 10pt;
    line-height: 14pt;
}

.contact-left {
    text-align: right;
    padding-left: 0;
    padding-right: 15px;
}

.contact-right {
    text-align: left;
    padding-left: 15px;
    padding-right: 0px;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.connect-icons {
    padding-top: @icons-top-padding;
    margin: auto;
    .flex;

    div {

        margin: 0 auto;
        a {
            margin: auto 5px;
            display: inline-block;
            vertical-align: middle;
            width: 20px;
        }
    }
}

@media (min-width: @screen-sm) {
    h2 {
        br {
            display: none;
        }
    }

    #logo {
        width: 90%;
    }

    #name {
        width: 80%;
    }

}

@media (min-width: @screen-md) {
    #logo {
        width: 70%;
    }

    #name {
        width: 60%;
    }
}

@media (min-width: @screen-lg) {
    #logo {
        width: 60%;
    }

    #name {
        width: 55%;
    }
}