html, body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

h1 {
  display: none; }

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.61vw;
  text-align: center;
  padding-top: 5%;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: #fff;
  opacity: 0.15; }

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.8vw;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 0;
  margin: 0; }

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 2.8vw;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 0;
  margin: 11px 0 22px 0; }

@media screen and (orientation: portrait), screen and (max-width: 800px) {
  h2 {
    font-size: 2.66vw; }

  h3, h4 {
    font-size: 4.62vw; } }
section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 115px; }
  section clear-space {
    margin: 135px; }
  section visuals {
    margin: 115px auto; }
    section visuals img {
      display: block;
      max-width: 100%;
      height: auto; }
  @media screen and (orientation: portrait), screen and (max-width: 800px) {
    section {
      padding: 10% 10%; }
      section visuals {
        margin: 70px auto; }
      section clear-space {
        margin: 34px; } }

heading separator-white, heading separator-black {
  width: 93px;
  display: block;
  border-bottom: 3px solid #fff;
  border-color: #fff; }
heading separator-black {
  border-color: #101519; }

summary > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  summary > div description {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.4vw;
    line-height: 145%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    summary > div description p {
      margin: 5% 0 0 0; }
    summary > div description strong {
      font-family: "Roboto", sans-serif;
      font-weight: 400; }
  summary > div platforms {
    display: flex;
    justify-content: flex-start;
    width: 100%; }
    summary > div platforms img {
      max-width: 100%;
      height: 100%;
      align-self: flex-end;
      padding: 0 2%; }
  @media screen and (orientation: portrait), screen and (max-width: 800px) {
    summary > div {
      flex-direction: column-reverse; }
      summary > div description {
        font-size: 3.5vw;
        max-width: none; }
      summary > div platforms {
        justify-content: center;
        padding-top: 71px; } }

#futurememories {
  background-color: #101519;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 100%; }
  #futurememories logo img {
    display: block;
    max-width: 100%;
    height: auto; }

#ourteam {
  padding: 0;
  background-color: #E8E8E8;
  overflow: hidden; }
  #ourteam cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    transform: rotateZ(18deg); }
    #ourteam cards card {
      -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      width: 50%;
      transform: rotateX(28deg) rotateY(25deg) rotateZ(-13deg);
      display: flex;
      flex-direction: column;
      background-color: #fff; }
      #ourteam cards card name {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 2.8vw; }
      #ourteam cards card role {
        font-family: "Raleway", sans-serif;
        font-weight: 200;
        font-size: 2.1vw; }

#railway {
  background: url("../assets/SKF_BG.jpg") no-repeat right bottom;
  background-size: cover;
  color: #fff; }
  @media screen and (orientation: portrait), screen and (max-width: 800px) {
    #railway {
      background: url("../assets/compact/SKF_BG.jpg") no-repeat center center;
      background-size: cover; } }

#preera {
  background-color: #E8E8E8; }

#mhn {
  background: url("../assets/mhn.jpg") no-repeat left bottom;
  background-size: cover;
  color: #fff; }
  @media screen and (orientation: portrait), screen and (max-width: 800px) {
    #mhn {
      background: url("../assets/compact/mhn.jpg") no-repeat center center;
      background-size: cover; } }

#tenniswatch {
  background: url("../assets/TennisWatch-BG.jpg") no-repeat center top;
  background-size: cover;
  color: #fff; }
  @media screen and (orientation: portrait), screen and (max-width: 800px) {
    #tenniswatch {
      background: url("../assets/compact/TennisWatch-BG.jpg") no-repeat center center;
      background-size: cover; } }
  #tenniswatch laurels {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    #tenniswatch laurels laurel {
      width: 120px;
      height: 97px;
      background: url("../assets/laurel.png") no-repeat;
      background-size: contain;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 13px;
      letter-spacing: 1.34px;
      padding-top: 18px;
      margin: 30px 20px 0 0; }
  #tenniswatch clear-space {
    margin: 46px; }
  #tenniswatch buttons {
    display: flex;
    flex-direction: row; }
    #tenniswatch buttons a {
      margin: 0 50px 0 0; }
  @media screen and (orientation: portrait), screen and (max-width: 800px) {
    #tenniswatch laurels {
      justify-content: center; }
      #tenniswatch laurels laurel {
        margin-top: 108px; }
    #tenniswatch clear-space {
      margin: 26px; }
    #tenniswatch buttons {
      justify-content: center; }
      #tenniswatch buttons a {
        margin: 0 25px; } }

hire {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 0; }
  hire h3 {
    text-align: center; }
  hire roles, hire arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center; }
  hire roles {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 1.4vw;
    letter-spacing: 2px;
    margin: 56px 0 0; }
    hire roles role {
      align-self: flex-end;
      flex-basis: 12%; }
      hire roles role div {
        margin: 12px 0; }
  hire arrow {
    margin: 30px 0; }
  hire contact {
    background-color: #0087CF;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1.26vw;
    letter-spacing: 2px;
    text-transform: uppercase; }
    hire contact a {
      color: white;
      display: inline-block;
      width: 100%;
      padding: 48px 0;
      text-decoration: none; }
      hire contact a:hover {
        background-color: #000;
        color: #0087CF;
        -webkit-transition: all 0.5s ease !important;
        transition: all 0.5s ease !important; }
  @media screen and (orientation: portrait), screen and (max-width: 800px) {
    hire roles {
      font-size: 2.8vw; }
      hire roles role {
        flex-basis: 30%; }
    hire contact {
      font-size: 3.22vw; } }

team {
  display: flex;
  flex-direction: row;
  color: #101519;
  background-color: #E8E8E8;
  justify-content: space-around;
  padding: 124px 115px 100px; }
  team member {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 22.7%; }
    team member name {
      font-size: 1.4vw;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2.05px; }
    team member description {
      flex-grow: 2;
      font-size: 1.4vw;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      padding: 24px 0 33px; }
    team member a {
      text-decoration: none; }
    team member img {
      padding: 0 18px; }
  @media screen and (orientation: portrait), screen and (max-width: 800px) {
    team {
      flex-direction: column;
      padding: 0 23%; }
      team member {
        border-bottom: 1px solid;
        padding: 70px 0; }
        team member:last-child {
          border-bottom: none; }
        team member name {
          font-size: 2.52vw; }
        team member description {
          font-size: 2.45vw;
          padding: 24px 14%; } }

hello a {
  font-size: 2.8vw;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background-color: black;
  color: #fff;
  display: inline-block;
  width: 100%;
  padding: 26px 0 32px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 4.13px; }
  @media screen and (orientation: portrait), screen and (max-width: 800px) {
    hello a {
      font-size: 4.9vw; } }

/*# sourceMappingURL=futurememories.css.map */
