$threshold: 800px
$image-scale-threshold: 420px

$white: #fff
$black: #101519
$gray: #E8E8E8

$top-bottom-padding: 35px
$top-bottom-padding-desktop: 70px

$side-padding: 35px
$side-padding-desktop: 115px

$section-padding: $top-bottom-padding $side-padding
$section-padding-desktop: $top-bottom-padding-desktop $side-padding-desktop

$case-heading-heading-spacing: 11px
$case-heading-separator-spacing: 22px

$font-scale-factor: 0.07

@mixin font-size($designSize)
  font-size: $designSize*$font-scale-factor+vw

@mixin lato($weight)
  font-family: 'Lato', sans-serif
  font-weight: $weight

@mixin roboto($weight)
  font-family: 'Roboto', sans-serif
  font-weight: $weight

.extended
  display: block

.compact
  display: none

// compact mode
@media screen and (max-width: $threshold)
  .extended
    display: none
  .compact
    display: block

@mixin background($image, $horizontal, $vertical)
  background: url('../assets/#{$image}') no-repeat $horizontal $vertical
  background-size: cover

  // compact mode
  @media screen and (max-width: $threshold)
    background: url('../assets/compact/#{$image}') no-repeat center center
    background-size: cover

@mixin img-responsive
  display: block
  max-width: 100%
  height: auto

html, body
  height: 100%
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -o-font-smoothing: antialiased

h1
  display: none

h2
  @include lato(700)
  @include font-size(23)
  text-align: center
  padding-top: 5%
  text-transform: uppercase
  letter-spacing: 4.2px
  color: $white

  opacity: 0.15

h3
  @include lato(700)
  @include font-size(40)
  letter-spacing: 6px
  text-transform: uppercase
  padding: 0
  margin: 0

h4
  @include lato(300)
  @include font-size(40)
  letter-spacing: 6px
  text-transform: uppercase
  padding: 0
  margin: $case-heading-heading-spacing 0 $case-heading-separator-spacing 0

// compact mode
@media screen and (max-width: $threshold)
  h2
    @include font-size(38)

  h3, h4
    @include font-size(84)
    letter-spacing: 2px

  h4
    margin: 6px 0 13px 0

section, team
  margin-top: 10px

section
  display: flex
  flex-direction: column
  justify-content: space-between
  padding: $section-padding-desktop

  clear-space
    margin: 135px

  marginal-clear-space
    margin: 20px

  visuals
    margin: 115px auto
    img
      @include img-responsive()

  // compact mode
  @media screen and (max-width: $threshold)
    padding: $section-padding

    visuals
      margin: 70px auto

    clear-space
      margin: 27px

    marginal-clear-space
      margin: 40px

heading

  separator-white
    width: 93px
    display: block
    border-bottom: 3px solid $white
    border-color: $white

    // compact mode
    @media screen and (max-width: $threshold)
      width: 42px
      border-bottom: 1.5px solid $white

  separator-black
    @extend separator-white
    border-color: $black

summary

  > div
    display: flex
    flex-direction: row
    justify-content: space-between

    description
      @include roboto(300)
      @include font-size(20)
      line-height: 145%
      max-width: 43%
      display: flex
      flex-direction: column
      justify-content: flex-end

      p
        margin: 5% 0 0 0

      p:first-child
        margin-top: 0

      strong
        @include lato(400)
        letter-spacing: 1.6px

    platforms
      display: flex
      justify-content: flex-start
      width: 100%
      max-width: 50%

      // compact mode
      @media screen and (max-width: $threshold)
        max-width: none

      @media screen and (max-width: $image-scale-threshold)
        img
          zoom: 50%

      img
        max-width: 100%
        align-self: flex-end
        padding: 0 2%

      img:first-child
        padding-left: 0

    // compact mode
    @media screen and (max-width: $threshold)
      flex-direction: column-reverse
      description
        @include font-size(48)
        max-width: none

        strong
          letter-spacing: 0

      platforms
        justify-content: center
        padding-top: 35px

        img:first-child
          padding-left: 2%

buttons
  display: flex
  flex-direction: row

  a
    margin: 0 50px 0 0

  // compact mode
  @media screen and (max-width: $threshold)
    justify-content: center
    padding-bottom: 12px
    a
      margin: 0px 12px

  @media screen and (max-width: $image-scale-threshold)
    img
      zoom: 50%

#futurememories
  margin-top: 0
  background-color: $black
  display: flex
  align-items: center
  justify-content: space-around
  padding-top: 0
  padding-bottom: 0

  min-height: 100vh

  logo
    z-index: 10
    img
      @include img-responsive

  overlay
    position: absolute
    height: 100%
    width: 100%
    bottom: 0
    right: 0
    top: 0

    img
      height: 100vh
      position: absolute
      right: 0
      width: 50%
      top: 0
      bottom: 0

#ourteam

  padding: 0
  background-color: $gray
  overflow: hidden

  cards

    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    transform: rotateZ(18deg)

    card
      -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1)
      -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1)
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1)
      //padding: 12%
      width: 50%
      transform: rotateX(28deg) rotateY(25deg) rotateZ(-13deg)
      display: flex
      flex-direction: column
      background-color: $white

      name
        @include lato(600)
        @include font-size(40)

      role
        @include lato(200)
        @include font-size(30)

#nelly
  @include background('nelly.jpg', right, top)
  color: $white

  // compact mode
  @media screen and (max-width: $threshold)
    clear-space
      margin: 50px

#predicare
  @include background('Predicare.jpg', right, top)
  color: $white

#stena
  @include background('StenaBg.jpg', right, center)
  color: $white

  // compact mode
  @media screen and (max-width: $threshold)
    clear-space
      margin: 58px

#railway
  @include background('SKF_BG.jpg', right, bottom)
  color: $white

#preera
  background-color: #E8E8E8

#mhn
  @include background('mhn.jpg', left, bottom)
  color: $white

#tenniswatch
  @include background('TennisWatch-BG.jpg', center, top)
  color: $white

  laurels
    display: flex
    flex-direction: row
    justify-content: flex-start
    padding-top: 30px
    padding-bottom: 114px

    laurel
      padding-right: 20px

    // compact mode
    @media screen and (max-width: $threshold)
      justify-content: center
      padding-top: 53px
      padding-bottom: 35px

      laurel
        padding-right: 10px
        padding-left: 10px

    @media screen and (max-width: $image-scale-threshold)
      laurel
        img
          zoom: 50%

  clear-space
    margin: 0

#wya
  color: $white
  background: #0b2335
  background: -moz-linear-gradient(top, #0b2335 0%, #31414d 100%)
  background: -webkit-linear-gradient(top, #0b2335 0%, #31414d 100%)
  background: linear-gradient(to bottom, #0b2335 0%, #31414d 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b2335', endColorstr='#31414d', GradientType=0)

  .screens
    margin-top: 20px
    margin-left: -$side-padding-desktop
    margin-bottom: -$top-bottom-padding-desktop
    margin-right: -$side-padding-desktop

    img
      width: 100%

  // compact mode
  @media screen and (max-width: $threshold)

    .screens
      margin-left: -$side-padding
      margin-right: -$side-padding
      margin-bottom: -$top-bottom-padding

    marginal-clear-space
      margin: 22px

hire
  display: flex
  flex-direction: column
  margin: 50px 0 0 0

  h3
    text-align: center

  roles, arrow
    display: flex
    flex-direction: row
    justify-content: center
    text-align: center

  roles
    @include lato(200)
    @include font-size(20)
    letter-spacing: 3px
    margin: 56px 0 0

    role
      align-self: flex-end
      flex-basis: 12%

      div
        margin: 12px 0

  arrow
    margin: 30px 0

  contact
    background-color: #0087CF
    text-align: center
    @include lato(700)
    @include font-size(18)
    letter-spacing: 2px
    text-transform: uppercase

    a
      color: white
      display: inline-block
      width: 100%
      padding: 48px 0
      text-decoration: none

      &:hover
        background-color: #000
        color: #0087CF
        -webkit-transition: all .5s ease !important
        transition: all .5s ease !important

  // compact mode
  @media screen and (max-width: $threshold)
    roles
      @include font-size(40)

      role
        flex-basis: 30%

    contact
      @include font-size(46)

team
  display: flex
  flex-direction: row
  color: $black
  background-color: #E8E8E8
  justify-content: space-around
  padding: 90px 115px 65px
  flex-wrap: wrap

  member
    display: flex
    flex-direction: column
    text-align: center
    flex-basis: 50%
    align-items: center
    padding: 35px 0

    name
      @include font-size(20)
      @include lato(600)
      text-transform: uppercase
      letter-spacing: 2.85px

    description
      flex-grow: 2
      @include font-size(20)
      @include roboto(300)
      padding: 24px 0 0 0
      max-width: 291px

    phone
      font-size: 1.4vw
      @include roboto(400)
      padding: 17px 0 23px

    a
      text-decoration: none
      color: #000000

    img
      padding: 0 18px
      max-height: 31px

  // compact mode
  @media screen and (max-width: $threshold)
    flex-direction: column
    padding: 0 18%

    member
      border-bottom: 1px solid rgba(0, 0, 0, .2)
      padding: 70px 0
      flex-basis: auto

      &:last-child
        border-bottom: none

      name
        @include font-size(58)
      description
        @include font-size(46)
        padding: 24px 0 0 0
      phone
        @include font-size(46)

#social
  background-color: #000
  padding: 35px 0

  div
    display: flex
    flex-direction: row
    justify-content: center

  a
    margin: 35px

  // compact mode
  @media screen and (max-width: $threshold)

    padding: 8px 0

    a
      margin: 8px

    img
      zoom: 50%

hello
  a
    @include font-size(40)
    @include lato(300)
    color: #000
    display: inline-block
    width: 100%
    padding: 26px 0 32px
    text-decoration: none
    text-align: center
    letter-spacing: 4.83px

    // compact mode
    @media screen and (max-width: $threshold)
      @include font-size(70)


