html, body {
  height: 100%;
  margin: 0; }

h1 {
  display: none; }

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.61vw;
  text-align: center;
  padding-top: 5%;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: #fff;
  opacity: 0.15; }

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.8vw;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 0;
  margin: 0; }

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 2.52vw;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 0;
  margin: 11px 0 22px 0; }

@media screen and (orientation: portrait), screen and (max-width: 800px) {
  h2 {
    font-size: 2.66vw; }

  h3, h4 {
    font-size: 4.62vw; } }
section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 115px; }
  section visuals {
    margin: 115px auto; }
    section visuals img {
      display: block;
      max-width: 100%;
      height: auto; }
  @media screen and (orientation: portrait), screen and (max-width: 800px) {
    section {
      padding: 10% 10%; }
      section visuals {
        margin: 70px auto; } }

heading separator-white, heading separator-black {
  width: 93px;
  display: block;
  border-bottom: 3px solid #fff;
  border-color: #fff; }
heading separator-black {
  border-color: #101519; }

summary > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  summary > div description {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.4vw;
    line-height: 145%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    summary > div description p {
      margin: 5% 0 0 0; }
    summary > div description strong {
      font-family: "Roboto", sans-serif;
      font-weight: 400; }
  summary > div platforms {
    width: 50%;
    align-self: flex-end; }
    @media screen and (orientation: landscape) and (min-width: 800px) {
      summary > div platforms .desktop {
        max-width: 40%; }
      summary > div platforms .ipad {
        max-width: 27.5%; }
      summary > div platforms .android {
        max-width: 10%; }
      summary > div platforms .iphone {
        max-width: 10%; }
      summary > div platforms img {
        margin: 0 2%; } }
  @media screen and (orientation: portrait), screen and (max-width: 800px) {
    summary > div {
      flex-direction: column-reverse; }
      summary > div description {
        font-size: 3.5vw;
        max-width: none; }
      summary > div platforms {
        max-width: none;
        width: inherit;
        align-self: center;
        margin-top: 70px; }
        summary > div platforms img {
          margin: 0 10px;
          display: block;
          max-width: 100%;
          height: auto; } }

#futurememories {
  background-color: #101519;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 100%; }
  #futurememories logo img {
    display: block;
    max-width: 100%;
    height: auto; }

#ourteam {
  padding: 0;
  background-color: #E8E8E8;
  overflow: hidden; }
  #ourteam cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    transform: rotateZ(18deg); }
    #ourteam cards card {
      -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      width: 50%;
      transform: rotateX(28deg) rotateY(25deg) rotateZ(-13deg);
      display: flex;
      flex-direction: column;
      background-color: #fff; }
      #ourteam cards card name {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 2.8vw; }
      #ourteam cards card role {
        font-family: "Raleway", sans-serif;
        font-weight: 200;
        font-size: 2.1vw; }

#railway {
  background: url("../assets/SKF_BG.jpg") no-repeat right bottom;
  background-size: cover;
  color: #fff; }
  @media screen and (orientation: portrait), screen and (max-width: 800px) {
    #railway {
      background: url("../assets/compact/SKF_BG.jpg") no-repeat center center;
      background-size: cover; } }

#preera {
  background-color: #E8E8E8; }

#mhn {
  background: url("../assets/mhn.jpg") no-repeat left bottom;
  background-size: cover;
  color: #fff; }
  @media screen and (orientation: portrait), screen and (max-width: 800px) {
    #mhn {
      background: url("../assets/compact/mhn.jpg") no-repeat center center;
      background-size: cover; } }

hire {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 0; }
  hire h3 {
    text-align: center; }
  hire roles, hire arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center; }
  hire roles {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 1.4vw;
    letter-spacing: 2px;
    margin: 56px 0 0; }
    hire roles role {
      align-self: flex-end;
      flex-basis: 12%; }
      hire roles role div {
        margin: 12px 0; }
  hire arrow {
    margin: 30px 0; }
  hire contact {
    background-color: #0087CF;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1.26vw;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white; }
    hire contact a {
      display: inline-block;
      width: 100%;
      padding: 48px 0;
      text-decoration: none; }
      hire contact a:hover {
        background-color: #000;
        color: #0087CF;
        -webkit-transition: all 0.5s ease !important;
        transition: all 0.5s ease !important; }
  @media screen and (orientation: portrait), screen and (max-width: 800px) {
    hire roles {
      font-size: 2.8vw; }
      hire roles role {
        flex-basis: 30%; }
    hire contact {
      font-size: 3.22vw; } }

/*# sourceMappingURL=futurememories.css.map */
