@import "../bower_components/bootstrap/less/bootstrap.less";

body {
    background: url("../assets/Background-tile-512x512.jpg") repeat;
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h1 {
    display: none;
}

h2 {

    font-size: 14pt;

}

a {
    color: #fff;
}

a:hover {
    color: #fff;
}

.landing-container {
    .container-fluid;
}

#logo {
    margin: 20px 0;
}

.site-wrapper {
    display: table;
    width: 100%;

    .site-wrapper-inner {
        display: table-cell;
        vertical-align: middle;

        .cover-container {
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.landing-wrapper {
    .site-wrapper;
    height: 100%;
    min-height: 100%;
}

.contact {
    margin: 20px 0;
}

.contact-left {
    text-align: right;
}

.contact-right {
    text-align: left;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.connect-icons {
    margin: auto;
    padding-top: 20px;
    .flex;

    div {

        margin: 0 auto;
        a {
            margin: auto 10px;
            display: inline-block;
            vertical-align: middle;
            width: 30px;
        }
    }
}

@media (min-width: @screen-sm) {

}