@font-face {
    font-family: dosis-extralight;
    src: url(../fonts/Dosis-ExtraLight.ttf);
}

@font-face {
    font-family: helvetica-neue;
    src: url(../fonts/HelveticaNeue-UltraLight.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    background: #000;
    height: 100%;

    text-shadow:1px 1px rgba(0,0,0, 0.5);

    color: #fff;
}

h2 {
    font-family: dosis-extralight;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 0 30px;
}

@media (min-width: 768px) {
    h2 {
        font-size: 40px;
        margin: 0 0 50px;
    }
}

p {
    font-family: helvetica-neue;

    font-size: 14px;
}

.logo-row {
    margin-bottom: 56px;
    margin-top: 20px;
}

@media (min-width: 768px) {
    p {
        font-size: 20px;
    }

    .logo-row {
        margin-bottom: 96px;
    }
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
}

.logo {
    margin: auto;
}

.vjs-control-bar {
    display: none;
}

@media (min-width: 768px) {
    .vid {
        position: absolute;
        top: 50%;
        margin-top: -221px;
        width: 100%;
    }
}

.network {
    font-size: 46px;
}